<p> Hi <%= @current_user.email %> </p>

<p> You have booked Conference room <%= @booking.conference_room.name %> from <%= @booking.start_date_time %>
to <%= @booking.end_date_time %> <p>


Regards <br/>
Preethika
